@model IEnumerable<DigitalLibrary.Core.Models.BorrowRecord>

<h2>Journal of publishing books</h2>

<a asp-action="Create" class="btn btn-primary">Publish a book</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Book</th>
            <th>User</th>
            <th>Issue date</th>
            <th>Return date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <td>@record.Book.Title</td>
                <td>@record.User.Username</td>
                <td>@record.BorrowedAt.ToShortDateString()</td>
                <td>@record.ReturnedAt?.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-route-id="@record.Id" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@record.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@record.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
