@model DigitalLibrary.Core.Models.Book

@{
    ViewData["Title"] = "Delete Book";
}

<h2>@ViewData["Title"]</h2>

<h4>Are you sure you want to delete the book?</h4>
<div>
    <h5>@Model.Title</h5>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Year:</strong> @Model.Year</p>
    <p><strong>Author:</strong> @Model.Author.FullName</p>
    <p><strong>Genre:</strong> @Model.Genre.Name</p>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
