@model IEnumerable<DigitalLibrary.Core.Models.Book>

<h2>Книги</h2>
<p>
    <a asp-controller="Books" asp-action="Create" class="btn btn-success">Додати нову книгу</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Автор</th>
            <th>Жанр</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author?.FullName</td>
                <td>@book.Genre?.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-sm btn-info">Деталі</a>
                    <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-sm btn-secondary">Редагувати</a>
                    <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-sm btn-danger">Видалити</a>
                </td>

            </tr>
        }
    </tbody>
</table>

